<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food Trucks</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/script.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <h1>Welcome to the FoodTruck locator</h1>
    <form>
      <input type="text" name="search" placeholder="Enter your location">
    </form>
</body>
</html>
