<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food Trucks</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="js/application.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <h1>Welcome to the FoodTruck locator</h1>
    <div id="lobstaTruck">
      <img src="images/Lobsta-Truck.jpg" alt="">
    </div>
    <div id="mapButton">
    <button type="/map">Maps</button>
    </div>
</body>
</html>
