<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="js/application.js" type="text/javascript" charset="utf-8" async defer></script>
  <style>
    #map {
      width: 80%;
      height: 500px;
      background-color: grey;
    }
  </style>
</head>
<body>
  <h1>Welcome to San Francisco</h1>
  <div id="map"></div>
  <h3>To begin search for local food trucks hit the button below</h3>
  <input placeholder="Enter Address" id="address"/>
  <input placeholder="Mile Range" id="milesrange"/>
  <input type="submit" id="submit"/>
  </body>
  <script>
      // https://maps.googleapis.com/maps/api/geocode/json?&address=san%20francisco
      // google Maps API
      function initMap() {
        var SanFran = new google.maps.LatLng(37.77493, -122.419416);
        var minZoomLevel = 12;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: minZoomLevel,
          center: SanFran
        });
        var marker = new google.maps.Marker({
          position: SanFran,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa3hX_qNfEwTONvnG2A9esIc5lWZnMd6M&callback=initMap">
    </script>
</html>
